form {
    width: 100%;
}

.sec_container form fieldset .sec_:last-child {
    padding: 0;
}


/*  */

.sec_container form fieldset .sec_ {
    padding: 20px;
}

.sec_container form fieldset .sec_:nth-child(4) .sec_1 .input input {
    width: 500px;
}


/*  */

.sec_container form fieldset .sec_ .sec_1 {
    width: 50%;
    height: 70px;
}

.sec_container form fieldset .sec_ .sec_1 .label {
    font-weight: 600;
    margin-bottom: 10px;
}

.sec_container form fieldset .sec_ .sec_1 .input {
    font-weight: 600;
    margin-left: 10px;
}

.sec_container form fieldset .sec_ .sec_1 .input input {
    width: 350px;
    height: 25px;
    padding-left: 5px;
}


/*  */


/*  */

.sec_container form fieldset .sec_ .form-group {
    padding: 0 20px;
    font-size: 17px;
    text-transform: capitalize;
}

.sec_container form fieldset .sec_ .form-group .radio {
    margin-bottom: 7px;
}

.sec_container form fieldset .sec_ .form-group .radio:last-child {
    margin-bottom: 0px;
}


/*  */


/*  */

form div:nth-child(3) section {
    display: block;
}

.cont_clnt {
    border: 1px solid black;
    margin: auto;
    max-width: 50%;
    padding: 20px;
}

.cont_clnt .sec_1 {
    width: 100%;
    height: 70px;
}

.cont_clnt .sec_1 .input input {
    width: 350px;
    height: 25px;
    padding-left: 5px;
}


/*  */