* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.sec_container {
    display: block;
    margin: 10px 10px;
    color: #fff;
}


/*  */

.inner-shadow {
    box-shadow: var(--inner-shadow);
}

.outer-shadow {
    box-shadow: var(--outer-shadow);
}

.hover-in-shadow {
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover {
    box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hover-in-shadow:hover::after {
    box-shadow: var(--inner-shadow);
    color: var(--color);
}


/*  */

.header {
    width: 100%;
    top: 0;
    left: 0;
    background: var(--bk-color);
    padding: 2rem;
    text-align: center;
    z-index: 1000;
}

.header .navigation .a_cont {
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    text-transform: capitalize;
    text-decoration: none;
}

.header .navigation .a_cont.active {
    color: var(--color);
}

.header .navigation .a_cont:hover:not(.active) {
    opacity: 0.6;
    color: var(--color);
}

.header .navigation .a_cont:hover {
    color: var(--color);
    box-shadow: var(--inner-shadow);
}

.header .navigation .a_cont:hover.active {
    color: var(--color);
    box-shadow: var(--outer-shadow);
}


/* TABS */

.tab-content {
    width: 100%;
    overflow-y: hidden;
}

.tabs {
    width: 100%;
    padding-left: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
}

.tabs .tabs-item {
    position: relative;
    padding: .5em 1em;
    line-height: 1.8;
    font-size: .875rem;
    cursor: pointer;
}

.tabs .tabs-item.active {
    background-color: var(--bk-color);
    color: var(--color);
    border-radius: 0 0 15px 15px;
}

.tabs .tabs-item.active::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -1px;
    left: -20px;
    border-radius: 0px 100px 0px 0px;
    background-color: transparent;
    box-shadow: 7px -3px 0px var(--bk-color);
}

.tabs .tabs-item.active::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -1px;
    right: -20px;
    border-radius: 100px 0px 0px 0px;
    background-color: transparent;
    box-shadow: -7px -3px 0px var(--bk-color);
}

.tab-sub-content {
    position: relative;
    overflow-y: hidden;
    transition: all 1s ease;
}

.tab-sub-content .sub-content-item {
    padding: 0 1em 1em;
    width: 100%;
}

[data-content] {
    display: none;
}

.active[data-content] {
    display: block;
}


/* END TABS */